@charset "ISO-8859-1";

body
{
	background-image: url("../css/images/crystal.jpeg");
	
}

#cc
{
   font-family: cursive
}
li
{
   font-family: cursive

}
h1
{
   color: rgb(10, 79, 79);
   box-shadow: 5px 5px 5px;
   text-shadow: 3px 3px 3px;
   font-weight: 200;
}
h2
{
   font-weight: 300;
   font-family: cursive
}
#vv
{
	 width: 768px;
   margin: auto;
}